# for testing
get_data.py
video_caption.py
download_dataset.sh
json_to_csv.pyclear_ckpt_dir.py
# dataset
man-truckscenes
truckscenes_trainval.zip
data
dl_final_test
# output
prompt
video
v1
v2
v3
v4
v5
lightning_logs
*.mp4
*.jpg
*.png
log.txt
# others
__pycache__
cogvideox-sft